{
  "log": {
    "_recordingName": "fastly_recordings",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "69f48023778fe37081eb54c484fc27d0",
        "request": {
          "headers": [
            {
              "name": "fastly-key",
              "value": "ETx79FlNc0jhMHKmfkT6RGSY2pzFJgwN"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.fastly.com/customer/6Bfjl1cR8HV2hPuQykFxJa"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 835,
            "text": "{\"id\":\"6Bfjl1cR8HV2hPuQykFxJa\",\"created_at\":\"2020-08-27T13:32:45Z\",\"updated_at\":\"2020-08-27T13:32:45Z\",\"name\":\"JupiterOne\",\"owner_id\":\"1hJNx2XBX94T64w931jVBp\",\"deleted_at\":null,\"pricing_plan\":\"developer\",\"billing_contact_id\":null,\"postal_address\":null,\"billing_ref\":null,\"phone_number\":\"9195228915\",\"pricing_plan_id\":\"6HW4welznAHVnMCJhY9QdX\",\"can_upload_vcl\":true,\"billing_network_type\":\"public\",\"can_configure_wordpress\":false,\"can_reset_passwords\":true,\"force_2fa\":false,\"force_sso\":false,\"has_account_panel\":true,\"has_api_key\":false,\"has_improved_events\":false,\"has_improved_ssl_config\":false,\"has_openstack_logging\":true,\"has_pci\":false,\"has_pci_passwords\":false,\"ip_whitelist\":\"0.0.0.0/0\",\"logentries_provisioned_by\":null,\"max_tokens_per_user\":100,\"rate_limit\":1000,\"readonly\":false,\"requires_support_email\":false,\"san_domains\":5}"
          },
          "headers": [
            {
              "name": "status",
              "value": "200 OK"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 184,
      },
      {
        "_id": "7462cea63b87b3d1b47d4843138c4474",
        "request": {
          "headers": [
            {
              "name": "fastly-key",
              "value": "ETx79FlNc0jhMHKmfkT6RGSY2pzFJgwN"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.fastly.com/customer/6Bfjl1cR8HV2hPuQykFxJa/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 422,
            "text": "[{\"id\":\"1hJNx2XBX94T64w931jVBp\",\"created_at\":\"2020-08-27T13:32:45Z\",\"updated_at\":\"2020-08-27T13:34:47Z\",\"name\":\"Erkang Zheng\",\"customer_id\":\"6Bfjl1cR8HV2hPuQykFxJa\",\"require_new_password\":false,\"role\":\"superuser\",\"login\":\"erkang.zheng@jupiterone.com\",\"deleted_at\":null,\"locked\":false,\"two_factor_auth_enabled\":false,\"limit_services\":false,\"email_hash\":\"c60680fa19ac66cbb41f6898b99bd367\",\"two_factor_setup_required\":false}]"
          },
          "headers": [
            {
              "name": "status",
              "value": "200 OK"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 415,
      },
      {
        "_id": "6056d446b57d89707db528e52fd858c2",
        "request": {
          "headers": [
            {
              "name": "fastly-key",
              "value": "ETx79FlNc0jhMHKmfkT6RGSY2pzFJgwN"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.fastly.com/customer/6Bfjl1cR8HV2hPuQykFxJa/tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1362,
            "text": "[{\"id\":\"4sPcKZXcDLkMy3aoVwWeqT\",\"user_id\":\"1hJNx2XBX94T64w931jVBp\",\"customer_id\":\"6Bfjl1cR8HV2hPuQykFxJa\",\"name\":\"manage.fastly.com browser session\",\"last_used_at\":\"2020-08-28T21:32:03Z\",\"created_at\":\"2020-08-27T13:35:02Z\",\"expires_at\":null,\"ip\":\"99.29.119.164\",\"user_agent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.135 Safari/537.36\",\"sudo_expires_at\":null,\"scopes\":[\"global\"],\"scope\":\"global\",\"services\":[],\"service_id\":null},{\"id\":\"6cw4NpEw9wWDeDkhDFzAEq\",\"user_id\":\"1hJNx2XBX94T64w931jVBp\",\"customer_id\":\"6Bfjl1cR8HV2hPuQykFxJa\",\"name\":\"manage.fastly.com browser session\",\"last_used_at\":\"2020-08-29T19:22:25Z\",\"created_at\":\"2020-08-29T14:35:06Z\",\"expires_at\":null,\"ip\":\"99.29.119.164\",\"user_agent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.135 Safari/537.36\",\"sudo_expires_at\":\"2020-08-29T18:27:19Z\",\"scopes\":[\"glo[...]
